<div class="container">
  <div class="main">
    <div class="top">
        <div mat-card-avatar class="logo">
        </div>
        <div class="content">
            <div class="content-1"><h1>Hola soy angelito</h1></div>
            <div class="content-2"><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, quisquam, in unde amet obcaecati repellendus sit, dolorum rerum quasi placeat facere. Cumque nostrum necessitatibus aperiam voluptas cum dolores, iste adipisci.</h2></div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom">DESCRIPCION</div>
  </div>
  <div class="panel">MIS PROYECTOS</div>
</div>